.About {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    justify-content: center;
    color: white;
}

.About h1 {
    color: #48bbf8;
}

.About img {
    height: 500px;
    border-radius: 80%;
}

.about-details{
    margin: 1rem;
}

/* .about-details {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
} */

/* .about-details {
    color: white;
} */