.About {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    justify-content: center;
    color: white;
}

.About h2 {
    color: #48bbf8;
}

.About span {
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.About img {
    height: 500px;
    border-radius: 80%;
}

.about-details{
    margin: 1rem;
}